* text=auto eol=lf
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf
# bash gets confused if you pass in .sh files from windows
# This breaks Vagrant for some users.
*.sh text eol=lf

*.bin -diff
*.elf -diff
*.hex -diff

*.bin binary linguist-generated
*.elf binary linguist-generated
*.hex binary linguist-generated
